<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/base.css">
  <link rel="stylesheet" type="text/css" href="../static/layout.css">
  <!-- <link rel="stylesheet" href="../static/skeleton.css"> -->
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/auth">Auth</a></li>
        <li><a href="{{request.route_url('stock')}}">Stocks</a></li>
        <li><a href="/account">New</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h4>This is on all pages.</h4>

    {% block content %}
    <p>No content</p>
    {% endblock content %}

  </main>
</body>
</html>
