<!DOCTYPE html>
<html>
<head lang="en">
    <title>Stock Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/base.css">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
    <div id='form-module'>
            <h2>Welcome to Your Stock Portfolio</h2>
        <div class="center">
            <button href="/login.html">Login</button>
            <button>Sign Up</button>
        </div>
    </div>
</body>
</html>
