<!DOCTYPE html>
<html>
<head lang="en">
    <title>Login | Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/base.css">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
    <div id='login-module' class="center">
        <h2>Login</h2>
        <input value="Username"></input>
        <input value="Password"></input>
        <button>Login</button>
    </div>
</body>
</html>
