{% extends "base.jinja2" %}

{% block content %}
  <form action="{{request.route_url('add-stock')}}" method="GET">
    <input type="text" name="symbol">
    <input type="submit" value="search">
  </form>

{% if company %}
  <form class="add-form" method="POST" action="{{request.route_url('add-stock')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <input type='text' name='symbol' value="{{company.symbol}}" readonly hidden>
    <fieldset>
      <legend>Symbol: {{company.symbol}}</legend>
      <h2>Company: {{company.companyName}}</h2>
      <h3>CEO: {{company.ceo}}</h3>
      <h4>Description: {{company.description}}</h3>
      <input type="submit" style="background-color:black;color:white" value="Save Stock">
    </fieldset>
  </form>

{% endif %}

{% endblock %}
